@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap&family=Arimo:ital,wght@0,400..700;1,400..700');
*,*:before,*:after{
  box-sizing: border-box;
}

body{
  padding: 0;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-transition-delay: 99s;
}

/*-------------Nav Bar styles-------------*/
.static-nav{
  width: 100%;
  z-index: 10;
}
nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 5rem;
  
}
.logo{
  flex:1;
}
.logo img{
  width: 15rem;
}
nav .nav-items{
  flex:2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}

nav .nav-items li:first-child a{
  color: #c93357;
}
nav .nav-items li a{
  color: #0e0000;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: #DA3960;
}
.menu-icon span,
.cancel-icon span{
  width: 40px;
  text-align: center;
  font-size: 18px;
  color: #c93357;
  cursor: pointer;
}
.menu-icon{
  display: none;
}


/*-------Home page----------*/
.home{
  width: 100%;
  padding: 8rem 5rem 0 5rem;
}
.home-page{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-left{
  width: 50%;
  display: flex;
  flex-direction: column;
  grid-row-gap:1.2rem;
}
.home-left .main-content{
  font-size: 3.7rem;
  font-weight: bold;
  line-height: 4.5rem;
}

.home-left .main-subtext{
  font-size: 1.5rem;
  color: rgb(80, 80, 80);
}

.home-left a{
  text-decoration: none;
}
.home-left .home-btn{
  cursor:pointer;
  background-color: #c93357;
  color: white;
  font-weight: 600;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #DA3960;
  padding: 0.5rem;
  transition: all 0.2s linear;
}
.home-left .home-btn:hover{
  border: 1px solid #DA3960;
  background-color: white;
  color: #c93357;
}
.home-right img{
  width: 42vw;
}


/*---------------Choose us-----------*/

.choose-us {
  width: 100%;
  background-image: url("https://assets-global.website-files.com/64c8d677de0261980c032d96/64c8d725b07ad7f8b4e6b9b5_red%20Middle%20glow.svg"), 
                    url("https://assets-global.website-files.com/64c8d677de0261980c032d96/64c8d729be927ed3e4c2199e_Yellow%20Glow%20Middle.svg"), 
                    url("https://assets-global.website-files.com/64c8d677de0261980c032d96/64c8d729be927ed3e4c2199e_Yellow%20Glow%20Middle.svg"), 
                    url("https://assets-global.website-files.com/64c8d677de0261980c032d96/64c8d72436efec5cd8f04c10_Rainbow%20Circle.svg");
  background-position: 71% 0, 0 -12%, 30% 41%, 50% 100%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: auto, auto, auto, auto;
  padding: 4rem 15px;
  margin: 7rem 0 2rem 0;
}

.choose-us-container{
  width: 100%;
  height: 100%;
}

.cu-s1 span{
  font-size: 1.3rem;
}

.cu-s1 span:last-child{
  background-color: #1a2934;
  border-radius: 3px;
  padding: 0 6px;
  color: white;
  font-weight: 600
}

.cu-s1, .cu-s2{
  text-align: center;
}

.cu-s1{
  margin-bottom: 2rem;
}
.cu-s2{
  margin-bottom: 4rem;
}

.cu-s3{
  display: flex;
  align-items: baseline;
  grid-column-gap: 75px;
  width: 90%;
  margin: 0 auto;
}


.cu-s3-card {
  text-align: center;
  width: 25%;
}

.image-block {
  background-color: #fff;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  box-shadow: 0 0 30px rgba(226, 226, 226, .5);
  border-radius: 8px;
}

.image-block-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62%;
  height: 62%;
  border-radius: 16px;
}

.image-block-inner i{
  color: white;
  font-size: 2rem;
}

.card-border {
  position: absolute;
  top: 50%;
  bottom: 0%;
  left: 135%;
  right: auto;
}

.text-block {
  color: #233050;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 2.125rem;
  padding-top: 25px;
  padding-bottom: 10px;
}

.img-center {
  margin: auto;
  display: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

/*-------- ABout us ---------*/

.about{
  padding: 3rem 4rem 0 2rem;
}
.about-page{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-image{
  padding: 2rem;
}
.about-image img{
  width: 40vw;
  animation: floatImage 4s ease-in-out infinite;
  border-radius: 20px;
}
.about-content{
  width: 50%;
}
.sec-name{
  color: #DA3960;
  font-size: 1.5rem;
  font-weight: 550;
}
.sec-heading{
  font-size: 2.5rem;
}

.check{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.check .check-logo{
  width: 20%;
}

/*-----------Tech Stack--------------*/
.tech-stack{
  width: 100%;
  height: auto;
  padding: 7rem 4rem 0 2rem;
}

.ts1 h2{
  text-align: center;
  font-weight: 550;
  color: #DA3960;
  font-size: 3rem;
}
.ts1 p{
  text-align: center;
}

.ts2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.ts-card {
  /* border: 1px solid #ccc; */
  /* border-radius: 8px; */
  padding: 20px;
  margin: 10px;
  width: 200px;
  text-align: center;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.ts-icon {
  height: 100px;
  width: 100px;
  position: relative;
  margin: 0 auto;
}

.ts-icon img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  opacity: 1;
  max-width: 100%;
  max-height: 100%;
}

.ts-card span{
  font-weight: bold;
}

/*----------Industries------------ */

.industries {
  text-align: center;
  margin-bottom: 40px;
  padding: 7rem 4rem 0 2rem;
}

.industries h2 {
  font-weight: 550;
  font-size: 3rem;
  color: #DA3960;
  margin-bottom: 1rem;
}

.industries p {
  max-width: 800px;
  margin: 2rem auto;
}

.industry-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.industry-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(218, 57, 96, 0.1);
  border: 0.5px solid rgb(255, 255, 255);
  width: 350px;
  text-align: left;
}

.industry-card:hover{
  border: 0.5px solid rgb(211, 114, 138);
}

.industry-card-title-container{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.industry-card-title-container span img{
  width:2.5rem;
}

.industry-card h3 {
  display: inline;
  margin:0;
  padding:0;
  margin-left:0.5rem;
  align-self: center;
}

.industry-card p {
  margin-bottom: 15px;
  color: #333;
}

.industry-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.industry-card ul li {
  padding: 5px;
  font-size: 0.95rem;
  color: #555;
}

.industry-card ul li i{
  margin-right: 0.5rem;
  color: #007bff;
}


/*-----------Projects--------------*/
 .projects{
  margin-top: 7rem;
  padding:2rem;
  
}

.projects-heading{
  text-align: center;
  font-weight: 550;
  font-size: 3rem;
  color: #DA3960;
  margin-bottom: 3rem;
}

.project-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  transition: opacity 0.3s;
}

.project-block:hover .project-info {
  opacity: 1;
}

.project-info h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.project-info p {
  font-size: 1rem;
  color: white;
}

.slider {
  margin-top:3rem;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
}


.slider .owl-item.active.center .slider-card {
  opacity: 1;
  background: #d2d2d2; /* fallback for old browsers */
  color: #fff;
}

.project-title{
  display: none;
  font-size: 1.4rem;
}
.owl-item.active.center .project-title{
  display:block;
}
.slider-card {
  position: relative;
  background: #fff;
  margin: 50px 15px 65px 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.slider-card:hover .project-info {
  opacity: 1;
}
.slider-card img {
  border-radius: 5px 5px 0px 0px;
}
.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 75px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 75px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}

.owl-dots {
  margin-top: 2rem;
  text-align: center;
}
.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}
.owl-dots .owl-dot.active {
  background: #c93357 !important;
}


.owl-carousel .owl-item{
  transform:scale(0.9);
}
.owl-carousel .owl-item.active.center {
  transform: scale(1.3); 
  transition: transform 0.3s ease-in-out;
}
.owl-carousel .owl-item {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}
.owl-carousel .owl-item.active.center {
  opacity: 1;
}



/*-----------Contact--------------*/

.contact{
  background-image: url(../assets/contact-glow.png);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 5rem 0;
}
.contact-container{
  margin: 0 auto;
  max-width: 85%;
}
.contact-wrapper{
  display: flex;
  justify-content:space-between;
  align-items:center;
}
.c1{
  width: 35%;
}
.c1-tag, .subscribe-tag{
  background-color: #f5f2f3;
  color: #4f4f4f;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 20px;
  line-height: 2rem;
  padding: 0 1rem;
  justify-content: center;
}
.tag-text{
  background-image:linear-gradient(to right, #c93357,#233050);
  -webkit-text-fill-color: transparent;
  background-clip:text;
  display: inline-block;
}
.c1 h2{
  max-width: 80%;
  margin: 2rem 0;
}
.c1 p{
  margin-bottom: 2rem;
}
.text-color-crimson{
  color: #c93357;
}

.ratings{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ratings-img,.starts-text{
  width: 50%;
}
.rating-count{
  display: flex;
  flex-direction: column;
  letter-spacing: .01rem;
  font-family: Urbanist, sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.875rem;
}




.c2{
  width: 50%;
  padding: 3.37rem 1.25rem 0 1.25rem;
  position: relative;
}
.form-container{
  z-index:2;
  background-color: white;
  border-radius: 0.5rem;
  padding: 3rem;
  box-shadow: 0 4px 18px rgba(201, 51, 87,0.2);
  position: relative;
}
.contactForm{
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  flex-direction: column;
  display: flex;
}
.contact-input{
    color: #0d0d0d;
    text-align: left;
    border: 1px solid #d3e3f7;
    border-radius: .375rem;
    min-height: 3.125rem;
    margin-bottom: 0;
    padding-left: 1.25rem;
    vertical-align: middle;
    background-color: white;
    width: 100%;
    height: 38px;
    padding: 1rem;
}
.contactForm textarea{
  min-height: 8.125rem;
  padding: 1.25rem;
  height: auto;
}
.form-background1 {
  max-width: 7.1875rem;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.form-background2 {
  width: 6rem;
  position: absolute;
  top: auto;
  bottom: -1rem;
  left: 0%;
  right: auto;
}
.submitBtn{
    background-color: #c93357;
    color: white;
    text-align: center;
    border-radius: .25rem;
    border:0;
    margin-bottom: 0;
    padding: 1rem 1.5rem;
    transition: color .35s, background-color .35s;
}

.submitBtn:hover{
  border: 1px solid #c93357;
  color: #DA3960;
  background-color: white;
}

.form-success, .form-fail{
  /* display: none; */
  color: #6270ea;
  text-align: center;
  margin-top: 1rem;
}

.form-success{
  color: #6270ea;
}

.form-fail{
  color: #ea7462;
}

/*----------Email Subscribe----------*/

.subscribe-section{
 padding: 4rem 0;
 max-width: 513px;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 background-image: url(../assets/footer-glow.png);
  background-position: 140% 70%;
  background-repeat: no-repeat;
  background-size: 80%;
}

.subscribe-tag{
  margin-bottom: 1.5rem;
}

.subscribe-section p{
  text-align: center;
  margin-bottom: 3rem;
}
#subscribe-form{
  width: 100%;
  color: #8e929d;
  border: 1px solid #d8d8d8;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding:0 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.subscribe-emailInpt{
    background: transparent !important;
    border: 0;
    outline: 0;
    min-height: 3rem;
    font-family: Urbanist, sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.875rem;
    width: 100%;
}


.subscribe-btn{
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #c93357;
  border-radius: 4px;
  width: 2.2rem;
  height: 2.2rem;
  color: white;
  box-shadow: 0 10px 20px rgba(207, 102, 127, .2);
}

.social-logos{
  margin:0;
  padding:0;
  width: 100%;
  text-align: center;
}

.social-btn {
  display:inline-block;
  width:60px;
  height: 60px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow:-5px 5px 15px -5px #f1f1f1; 
  overflow: hidden;
  position: relative;
  transition: 0.3s linear;
}

.social-btn i {
  line-height: 60px;
  font-size: 26px;
  transition: 0.3s linear;
}

.social-btn:nth-child(1) i {
  color:#000000;
}

.social-btn:nth-child(2) i {
  color:#0077B5;
}

.social-btn:hover {
  transform: scale(1.1);
}

.social-btn:hover i {
  transform: scale(1.2);
  color: #fff;
}

.social-btn:before {
  content:"";
  position:absolute;
  width:120%;
  height:120%;
  transform: rotate(45deg);
  left: -110%;
  top:90%;
}

.social-btn:nth-child(1)::before {
  background: #000000;
}
.social-btn:nth-child(2)::before {
  background: #0077B5;
}

.social-btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

footer{
  width: 100%;
  display: flex;
  justify-content: center;
  background: #f8f1f1;
}
.footer-container{
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.fc{
  width: 30%;
}
.fc1{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fc1 img{
  width: 75%;
  margin-bottom: 1rem;
}
.fc1 p{
  text-align: justify;
  font-size: 1rem;
}

.quote-btn2{
  width: 150px;
  text-align: center;
  align-self: flex-start;
  border-radius: 6px;
  border: 1px solid #DA3960;
  color: rgb(18, 18, 18);
  background-color: transparent;
  padding: 0.5rem;
  text-decoration: none;
  transition: all 0.2s linear;
}
.quote-btn2:hover{
  background-color: #DA3960;
  color: white;
}

.fc2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fc-subhead{
  font-size: 1.4rem;
  font-weight: 500;
  color: #003560;
  margin-bottom: 2rem;

}

.fc2 ul{
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.fc2 li{
  width: 30%;
  list-style: none;
  margin-bottom: 1rem;
  text-align: center;
}
.fc2 a{
  text-decoration: none;
  color: #000000;
  letter-spacing: -.01rem;
  margin-bottom: 10px;
  font-family: Urbanist, sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.875rem;
}
.fc2 a:hover{
  color: #0067f7;
}

.contact-details{
  display: flex;
  flex-direction: column;
  row-gap:1.5rem;
}
.contact-details a{
  text-decoration: none;
  font-size: 1.1rem;
}

.contact-info{
  display: flex;
  align-items: flex-start;
  column-gap: 1rem;
}
.contact-info img{
  width:30px;
  height:30px
}














@keyframes aaa {
  0% {
    left: -110%;
    top:90%;
  }
  50% {
    left:10%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}

@keyframes floatImage {
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(-2.4rem);
  }
  100%{
      transform: translateY(0);
  }
}

@media (max-width : 1500px){
  .home-right img{
    width: 46vw;
  }
  .home-left .main-content{
    font-size: 3rem;
  }
}
@media (max-width : 1433px){
  .home-left .main-content{
    font-size: 2.5rem;
    line-height: 2.8rem;
  }
  .about-page{
    padding-top: 4.5rem;
    flex-direction: column;
    align-items: center;
  }
  .about-image img{
      margin-top: 2rem;
      width: 70vw;
  }
  .about-content{
      width: 80%;
      padding-top: 2rem;
  }
  .check{
    width: 100%;
  }
  .check .check-logo{
    width: 5%;
  }
  .check-logo img{
    width: 60%;
    margin-top: -0.5rem;
  }

  .ratings-img{
    width: 40%;
  }
  
}

@media (max-width: 1245px) {
  .static-nav,
  .home,
  .choose-us,
  .about,
  .features,
  .work,
  .contact,
  .visit-us,
  .footer-section{
    height: auto;
  }
  nav{
    padding: 0 50px;
  }
  .home{
    padding: 3rem 5rem;
  }
  .home-left .main-content{
    font-size: 2rem;
    line-height: 2.7rem;
  }
  .home-left .main-subtext{
    font-size: 1rem;
  }
  .home-right img{
    width: 40vw;
  }

  .choose-us{
    margin: 0;
  }

  .about{
    padding: 0;
  }

  .card-border {
    left: 115%;
  }

  .check .check-logo {
    width: 7%;
  }

  .work-container{
    width: 80%;
  }

  .c1-tag{
    font-size: 0.9rem;
  }
  .c1 h2{
    max-width: 90%;
  }
  .fc1 img{
    width: 70%;
  }
  .fc1 p{
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1245px) and (orientation: landscape){
  .static-nav,
  .home,
  .choose-us,
  .about,
  .features,
  .work,
  .contact,
  .visit-us,
  .footer-section{
    height: auto;
  }
}


@media (max-width: 1024px){
  nav .logo{
    flex: 2;
    text-align: center;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
    height:100vh;
    left: -100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #ffffff;
    display: inline-block;
    transition: left 0.3s ease;
    color: #c93357;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  .menu-icon{
    display: block;
  }
  .cancel-icon{
    z-index: 1000;
    position: fixed;
    left:50px;
  }


  .home-page{
    flex-direction: column-reverse;
  }
  .home-left{
    width: 80%;
    margin-top: 2.5rem;
  }
  .home-left .main-content{
    font-size: 3rem;
    line-height: 3.2rem;
  }
  .home-right img{
    width: 70vw;
  }

  .card-border {
    left: 95%;
  }

  .check .check-logo {
    width: 10%;
  }

  .c1-tag{
    font-size: 0.9rem;
  }
  .c1 h2{
    max-width: 95%;
  }
  .rating-count{
    font-size: 0.9rem;
  }
  .c2{
    width: 55%;
  }

  .fc1 img{
    width: 65%;
  }
  .fc1 p{
    line-height: 1.2rem;
  }

  .fc2{
    width: 25%;
  }


}

@media (max-width: 900px){

  nav{
    padding: 0 1rem;
  }
  .menu-icon span,
  .cancel-icon span{
    margin: 0;
  } 

  .home{
    padding: 4rem 0 2rem 0;
  }
  .home-left .main-content{
    font-size: 2.2rem;
    line-height: 2.7rem;
    text-align: center;
  }
  .home-left .main-subtext{
    text-align: center;
  }
  .home-left a{
    align-self: center;
  }

  .choose-us{
    height: auto;
    padding: 3rem 0;
  }
  .cu-s2{
    margin-bottom: 2rem;
  }
  .cu-s3{
    padding: 3rem 0;
    flex-wrap: wrap; 
    justify-content: center;
    row-gap:2rem;
  }
  .cu-s3-card{
    width: 40%;
  }
  .card-border{
    display: none;
  }

  .about{
    padding: 1rem 0;
  }
  .about-content{
    width: 90%;
    padding-top: 1rem;
  }

  .industry-card{
    width:300px;
  }

  .projects{
    margin-top:2rem;
  }


  .contact-wrapper{
    flex-direction: column;
    height: auto;
  }
  .c1{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }
  .c1 p{
    text-align: center;
  }

  .c2{
    width: 90%;
  }

  .subscribe-section{
    max-width:600px;
  }


  .footer-container{
    flex-direction: column;
  }
  .fc{
    width: 100%;
    margin-bottom: 3rem;
  }
  .fc1 img{
    width: 40vw;
  }
  .fc1 p{
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  .fc2 ul{
    flex-direction: row;
  }
}


@media (max-width:780px){
  .menu-icon span, .cancel-icon span {
    font-size: 25px;
  }
  .home-left .main-content{
    font-size: 2rem;
  }
  .home-left .main-subtext{
    font-size: 1.2rem;
  }
  .home-right img,
  .about-image img{
    width: 80vw;
  }

  .check .check-logo{
    width: 13%;
  }

  .industry-cards-container {
    flex-direction: column;
    align-items: center;
  }

  .industry-card {
    width: 100%;
    max-width: 400px;
  }

  .project-block {
    flex: 0 0 250px;
    height: 180px;
  }

  .project-info h3 {
      font-size: 1.2em;
  }

  .project-info p {
      font-size: 0.9em;
  }

  

  .contact-container{
    max-width: 95%;
  }
  .c1{
    width: 85%;
  }
  .c1 h2{
    text-align: center;
  }
  .c1-tag{
    font-size: 1rem;
  }
  .ratings{
    width: 60%;
  }
  .ratings-img{
    width: 43%;
  }
}
@media(max-width: 600px){
  .logo img{
    width: 12rem;
  }
  .quote-btn{
    display: none;
  }

  .check .check-logo{
    width: 16%;
  }

  .cu-s2 h2{
    text-align: center;
  }
  .cu-s3-card .text-block{
    font-size: 1.1rem;
  }
  .cu-s3-card p{
    font-size: 1rem;
  }

  .tech-stack{
    padding:5rem 1rem 0 1rem;
  }
  .ts1 h2{
    font-size:2.5rem;
  }

  .slider{
    margin-top: 0;
    margin-bottom: 0;
  }
  .slider-card{
    margin: 1rem 0;
  }
  .owl-carousel .owl-item{
    transform:scale(1);
  }
  .owl-carousel .owl-item.active.center {
    transform: scale(1); 
  }
  .project-title{
    margin-top: -2rem;
  }
  .owl-nav{
    display: none;
  }
  .owl-dots{
    margin-top: 1rem;
  }

  .contact-details{
    margin: 0;
  }
  .contact-details a:last-child{
    margin-bottom: 1rem;
  }
}

@media(max-width: 500px){
  .home-left .main-content{
    font-size: 1.5rem;
  }
  .cu-s2 h2{
    font-size: 1.3rem;
  }
  .text-block{
    padding-top:0;
    padding-bottom:0;
  }
  .cu-s3-card p{
    line-height: 1.5rem;
    font-size: 0.9rem;
  }
  .sec-name{
    display: block;
    text-align: center;
  }
  .sec-heading{
    font-size: 1.8rem;
    text-align: center;
  }
  .check .check-logo{
    width: 22%;
  }

  .ts1 h2{
    font-size:2rem;
  }
  .ts1 p{
    font-size: 1rem;
  }
  .ts-card{
    padding:10px;
    width:120px;
  }
  .ts-icon{
    width:80px;
    height:80px;
  }

  .industries {
    padding: 2rem 1.5rem;
  }
  .industries h2 {
    font-size: 1.8rem;
  }
  .industries p {
    font-size: 1rem;
    padding: 0 10px;
  }
  .industry-card {
    width: 100%;
    max-width: 350px;
    padding: 15px;
  }
  .industry-card h3 {
    font-size: 1.2rem;
  }
  .industry-card p, .industry-card ul li {
    font-size: 0.9rem;
  }

  .projects{
    padding: 0 2rem;
  }
  
  .project-block {
    flex: 0 0 200px;
    height: 150px;
  }

  .project-info h3 {
      font-size: 1em;
  }

  .project-info p {
      font-size: 0.8em;
  }
  

  .form-container{
    padding: 1.5rem;
  }
  .c2{
    padding: 0;
  }

  .contact-details{
    margin: 0;
    font-size: 10px;
    row-gap: 0.4rem;
  }
  .contact-details a:last-child{
    margin-bottom: 1rem;
  }
  .visit-us-btn{
    font-size: 0.5rem;
    padding: 0 3rem;
  }

}



@media (max-width: 400px){

  .home-left .main-content{
    font-size: 1.31rem;
    line-height: 1.7rem;
  }
  .home-left .main-subtext{
    font-size: 1rem;
    line-height: 1.2rem;
  }
  
  .about-image {
    padding: 0;
  }
  .about-image img{
    width: 100vw;
  }

  .cu-s3{
    padding: 2rem 0;
  }
  .cu-s3-card{
    width: 100%;
  }
  .cu-s3-card .text-block{
    font-size: 1.5rem;
  }
  .cu-s3-card p{
    font-size: 1.2rem;
  }

  .ts1 h2{
    font-size:1.7rem;
  }
  .ts1 p{
    font-size: .9rem;
    line-height: 1.2rem;
  }
  

  .sec-name{
    margin-bottom: 2rem;
  }
  .sec-heading{
    font-size: 1.4rem;
  }
  .about-content p{
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .check .check-logo {
    width: 25%;
  }

  .features-top h2{
    width: 100%;
  }

  .project-title{
    font-size: 1rem;
  }


  .c1{
    width: 95%;
  }
  .c1-tag{
    font-size: 0.7rem;
  }
  .c1 p{
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .rating-img{
    width: 40%;
  }

  .c2{
    width: 100%;
  }
  .form-container{
    padding: 0.8rem;
  }
}